*{
    margin: 0 auto;
}

body{
    background: url(https://images.unsplash.com/photo-1563970163896-1bdc26b47b4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.jumbotron{
    align-content: center;
    justify-content: center;    
    text-align: center;
    opacity: 1;
    background: none;
    color: rgb(192, 188, 188);
}

.container_02{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
}

.container_02 img{
border:1px;
border-radius:4px;
width: 200px;
height: 150px;
cursor:pointer;    
text-align: center;
border-radius:4px;
border:1px solid #bbb;
background: white;
}

.container_02 { transition: all .2s ease-in-out; }
.container_02 img:hover { transform: scale(1.1); }


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  width: 300px;
  padding: 10px;
  background-color: white;
  text-align:center;
  align-content: center;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}