*{
    margin: 0 auto;
}

.testOpacity_2{
    opacity: 1;
}

.testOpacity{
    opacity: .75;
}


body{
    background: url(https://images.unsplash.com/photo-1563970163896-1bdc26b47b4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    position: relative;
}
.testform{
    align-content: center;
    text-align:center;
    justify-content:center;
}

.firstRow{
    margin-top:5em;
    margin-bottom:5em;
}

.secondRow{
    margin-top:5em;
    margin-bottom:5em;
}

.thirdRow{
    margin-top:5em;
    margin-bottom:5em;
}