*{
    margin: 0 auto;
}

body{
    background: url(https://images.unsplash.com/photo-1563970163896-1bdc26b47b4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.inside {
    font-size: 1em;
    transition: all 0.3s linear;
    cursor:pointer;
    transition: all .2s ease-in-out;
  }

.inside:hover{transform: scale(2);}

.jumbotron{
    align-content: center;
    justify-content: center;    
    text-align: center;
    opacity: 1;
    background: none;
    color: rgb(192, 188, 188);
}
.food{
    display: inline-flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tech{
    display: inline-flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sports{
    display: inline-flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contruction{
    display: inline-flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.foodOpacity{
    opacity: .5;
}


{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}